{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Digital learning platform for primary school students' %}{% endblock %}

{% block base %}
<div class="min-h-screen grid items-center">
    <div class="mx-auto max-w-7xl px-4 py-8 flex items-start">
        <div class="flex-1">
            <dotlottie-wc 
                src="https://lottie.host/1d658ba0-e31b-42c7-a355-25927764ac66/l9XSYquem9.lottie"
                style="width: 300px;height: 300px" 
                autoplay 
                loop
                class="mx-auto"    
            ></dotlottie-wc>
            <h1 class="text-4xl font-black">{% trans 'Digital learning platform for primary school students' %}</h1>
            <p class="mt-4 text-body">{% trans 'Learn through play, grow step by step.' %}</p>
        </div>

        <div class="max-w-md w-full space-y-4">
            <div class="grid gap-2">
                <a 
                    href="{% url 'main:home' %}" 
                    class="flex w-full"
                >
                    <img src="{% static 'images/logo.svg' %}" alt="Logo brand">
                </a>
                <span class="text-body text-center">
                    {% trans 'Logo brand' %}
                </span>
            </div>


            <div class="grid gap-2">
                <a 
                    href="{% url 'main:login' %}" 
                    class='flex justify-center rounded-2xl bg-indigo-600 px-5 py-3 font-semibold text-white'
                    >
                    {% trans 'Login' %}
                </a>
                <a
                    href="{% url 'main:register' %}"
                    class='flex justify-center rounded-2xl bg-white px-5 py-3 font-semibold text-indigo-700 shadow'
                >
                    {% trans 'Register' %}
                </a>
            </div>
        </div>
    </div>
</div>

{% endblock %}