{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | QadamIQ</title>
    <link rel="shortcut icon" href="{% static 'images/icon.svg' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="font-sans leading-normal tracking-normal text-heading text-lg">
    {% if messages %}
        <div id="flash-messages" class="fixed top-5 z-50 left-1/2 -translate-x-1/2">

                {% for message in messages %}
                    <div class="flash-item rounded-2xl px-6 py-3 shadow flex gap-2 items-center bg-neutral-primary transition-all duration-500">
                        <svg 
                            class="w-8 h-8 {{ message.tags }}" 
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24"
                            height="24" fill="currentColor" viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                                clip-rule="evenodd" />
                        </svg>

                        {{ message }}
                    </div>
                {% endfor %}
            <script>
                document.querySelectorAll('.flash-item').forEach((el, index) => {
                    setTimeout(() => {
                        el.style.transform = 'translateY(0)';
                        el.style.opacity = '1';
                    }, 100 * index);

                    setTimeout(() => {
                        el.style.transform = 'translateY(-50px)';
                        el.style.opacity = '0';
                        setTimeout(() => el.remove(), 700);
                    }, 5000);
                });
            </script>
        </div>
    {% endif %}


    {% block base %}
    {% endblock %}

    
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.9.10/dist/dotlottie-wc.js" type="module"></script>
    <script src="https://cdn.lordicon.com/lordicon.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.3/dist/confetti.browser.min.js"></script>
</body>
</html>
