{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | QadamIQ</title>
    <link rel="shortcut icon" href="{% static 'images/icon.svg' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
</head>

<body class="font-serif leading-normal tracking-normal">
    {% block base %}
    {% endblock %}
</body>
</html>
