{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | QadamIQ</title>
    <link rel="shortcut icon" href="{% static 'images/icon.svg' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% tailwind_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body class="font-sans leading-normal tracking-normal text-heading text-lg">
    {% if messages %}
        <div class='mx-auto max-w-5xl px-4 pt-4'>
            {% for message in messages %}
                <div class='mb-3 rounded-2xl bg-white px-4 py-3 shadow'>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% block base %}
    {% endblock %}


    <script
        src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.9.10/dist/dotlottie-wc.js"
        type="module"
    ></script>
</body>
</html>
